* {
	padding: 0;
	margin: 0;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background-color: rgb(245, 245, 245);
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
